################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HotelGuru/FileContentIndex/b62a884d-37a0-495b-8c0c-76183ba3f513.vsidx
